.banner {
	background-image:url('http://cdn-media.extratv.com/2015/11/12/michelle-obama-825x580.jpg');
	padding: 20%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -40px;
	margin-bottom: 30px;
	background-attachment: fixed;
	background-position:  center -50px;
}
.banner2 {
  background-image:url('images/MichelleObama_banner.jpg');
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  background-attachment: fixed;
  background-position:  center 10px;
}
.banner h1 {
	position: absolute;
	top:18;
	left:0;
	padding-left: 30px;
	color: #CFC7C4;
}
.banner2 h1 {
  position: absolute;
  top:18;
  left:0;
  padding-left: 30px;
  color: #CFC7C4;
}
.events {
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 30px;
}
p {
  font-size: 14px;
  font-family: arial;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;  
}
.timeline {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.background {
  background-color: #CFC7C4;
  margin-top: -30px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;  
}
.btn-secondary {
  background: #CFC7C4;
  font-color: black;
}
.footer {
  background-color: black;
  color: white;
  padding: 20px;
}
.divider {
	border-top: 1px solid #CFC7C4;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}